.user-page {
    position: relative;
    margin: 60px 0
}

.user-page-header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    overflow: hidden
}

.user-page-body {
    clear: both
}

.user-page-logo {
    float: left;
    width: 58px;
    height: 58px;
    background: url("../../../../assets/images/key.png")
}

.user-page-title {
    float: left
}

.user-page-title h3 {
    margin: 5px 0
}

.user-block {
    float: left;
    padding: 10px;
    border: 1px solid hsla(0, 0%, 80%, .5);
    background: url("/assets/img/pattern.png")
}

.user-information {
    margin-right: 10px;
    overflow: hidden
}

.user-information .user-information-avatar {
    padding: 10px;
    background: #ccc
}

.user-information .user-information-avatar img {
    width: 100%;
    height: 100%
}

.user-upgrade {
    float: left
}

.user-upgrade .user-upgrade-notice {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid hsla(0, 0%, 80%, .5);
    background: url(/assets/img/pattern.png)
}

.user-upgrade .user-upgrade-notice .vip {
    color: #d80f16;
    text-transform: lowercase
}

.user-detail-item {
    position: relative;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 25px
}

.user-detail-item .icon {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 15px
}

.vip-introduction {
    position: relative;
    margin-bottom: 10px
}

.vip-introduction img {
    position: absolute;
    top: 0
}

.vip-introduction strong {
    color: #d80f16
}

.vip-introduction .feature-item {
    padding: 10px 25px 0
}

.vip-introduction .feature-item .icon {
    margin-right: 10px;
    color: #d80f16
}

.features .vip-feature {
    clear: both
}

.features .vip-feature.user-upgrade {
    margin: 0
}

.features .vip-feature .item-content {
    border-top: 5px solid #d80f16
}

.features .vip-feature .item-price {
    color: #d80f16
}

.features .vip-feature .button {
    width: 50%
}

.features .vip-feature-item {
    float: left;
    width: 200px;
    margin-right: 10px
}

.features .item-content {
    position: relative;
    margin-bottom: 10px;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid hsla(0, 0%, 80%, .5);
    background: url("/assets/img/pattern.png") repeat
}

.features .item-content .item-value {
    width: 50%;
    height: 35px;
    margin: auto;
    font-size: 16px;
    border-bottom: 1px solid hsla(0, 0%, 80%, .5)
}

.features .item-content .item-bonus {
    position: absolute;
    top: 60px;
    left: 10px;
    right: 10px;
    color: #259bff
}

.features .item-content .item-price {
    height: 100px;
    line-height: 100px;
    font-size: 25px
}

.deposit-card,
.deposit-code {
    padding: 10px
}

.deposit-card .deposit-header,
.deposit-code .deposit-header {
    height: 40px;
    color: #0bb586;
    font-size: 20px;
    font-weight: 700
}

.deposit-card .deposit-item,
.deposit-code .deposit-item {
    height: 40px;
    line-height: 40px
}

.deposit-card .deposit-item span,
.deposit-code .deposit-item span {
    width: 100px;
    display: inline-block
}

.deposit-card .deposit-item select,
.deposit-code .deposit-item select {
    width: 150px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    outline: 0
}

.deposit-card .deposit-item input,
.deposit-code .deposit-item input {
    height: 30px;
    padding-left: 10px;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    border-radius: 2px
}

.history-card,
.history-code {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px
}

.history-card .history-header,
.history-code .history-header {
    height: 40px;
    color: #0bb586;
    font-size: 20px;
    font-weight: 700
}

.history-card .history-item,
.history-code .history-item {
    margin-bottom: 10px
}

.history-card .history-item .primary,
.history-code .history-item .primary {
    color: #d80f16
}

.history-card .history-item .icon,
.history-code .history-item .icon {
    margin-right: 5px;
    color: #0bb586
}

.history-card .history-item .icon.fail,
.history-code .history-item .icon.fail {
    color: #d80f16
}

.button {
    height: 34px;
    padding: 0 12px;
    line-height: 34px;
    color: #fff;
    border-radius: 2px;
    background: rgba(216, 15, 22, .95);
    border-color: rgba(216, 15, 22, .95);
    cursor: pointer
}

.button:focus,
.button:hover {
    color: #fff;
    background: #d80f16;
    border-color: #d80f16;
    outline: none
}

.button[disabled] {
    opacity: .65;
    cursor: not-allowed
}

.form-group {
    display: block;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden
}

.form-group label {
    float: left;
    width: 140px;
    margin-right: 10px;
    line-height: 30px
}

.form-group input[type=email],
.form-group input[type=number],
.form-group input[type=password],
.form-group input[type=text] {
    float: left;
    height: 30px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    -webkit-appearance: none;
    border: 1px solid;
    border-color: #ddd;
    border-radius: 2px;
    outline: none
}

.form-group input[type=number] {
    width: 100%
}

.form-group button {
    height: 30px;
    margin-left: 140px;
    padding: 0 10px;
    display: block;
    text-align: center;
    font-size: 13px;
    -webkit-appearance: none;
    border: 1px solid;
    color: #fff;
    background: #d80f16;
    border-color: #d80f16;
    border-radius: 2px;
    outline: none
}

.form-group .form-select {
    position: relative;
    float: left;
    margin-right: 10px
}

.form-group .form-select.year {
    margin-right: 0
}

.form-group .form-select label {
    width: auto;
    font-size: 12px;
    line-height: 16px
}

.form-notice {
    max-width: 390px;
    margin: 0 0 20px;
    padding: 5px 5px 5px 25px;
    border: 1px dashed rgba(217, 14, 22, .4);
    font-size: 12px;
    color: #d90e16
}

.form-notice.success {
    color: #028402;
    border-color: #028402
}

@media (min-width:412px) {
    .form-group .form-select {
        width: 75px
    }
    .form-group .form-select.year {
        width: 80px;
        margin-right: 0
    }
}

@media (max-width:479px) {
    .features .item-content .item-bonus {
        top: 55px;
        font-size: 12px
    }
}

@media (min-width:480px) {
    .form-group input[type=email],
    .form-group input[type=password],
    .form-group input[type=text] {
        width: 250px
    }
}

@media (max-width:639px) {
    .deposit-card,
    .deposit-code {
        width: 100%;
        margin-bottom: 10px
    }
    .deposit-card .deposit-item.blank,
    .deposit-code .deposit-item.blank {
        display: none
    }
}

@media (min-width:640px) {
    .deposit-card {
        margin-right: 10px
    }
}

@media (max-width:767px) {
    .user-page-header {
        border-bottom: 1px dashed
    }
    .user-page-logo {
        margin-right: 10px
    }
    .features .user-upgrade-status {
        font-size: 15px;
        margin-bottom: 10px
    }
    .vip-introduction .feature-item {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:768px) {
    .user-page-logo {
        margin-right: 20px
    }
    .features .user-upgrade-status {
        font-size: 20px;
        margin-bottom: 15px
    }
    .deposit-card .deposit-item input,
    .deposit-code .deposit-item input {
        width: 200px
    }
}

@media (max-width:799px) {
    .features .item-content .item-value {
        font-size: 14px
    }
    .features .item-content .item-price {
        height: 70px;
        line-height: 70px;
        font-size: 18px
    }
}

@media (max-width:1023px) {
    .user-page {
        padding: 0 10px
    }
    .user-upgrade {
        margin-top: 10px
    }
    .user-information {
        width: 100%
    }
    .user-information .user-information-avatar {
        float: left;
        width: 130px;
        height: 130px;
        padding: 0;
        margin-right: 10px
    }
    .vip-introduction {
        width: 100%
    }
    .vip-introduction img {
        display: none
    }
}

@media (min-width:1024px) {
    .user-upgrade-notice {
        height: 152px
    }
    .user-upgrade-notice.vip {
        height: 177px
    }
    .user-information {
        width: 240px
    }
    .user-information .user-information-avatar {
        width: 220px;
        height: 220px;
        margin-bottom: 10px
    }
}

@media (min-width:1280px) {
    .vip-introduction {
        width: 830px
    }
    .vip-introduction img {
        right: -340px
    }
    .deposit-card {
        clear: both
    }
    .deposit-card,
    .deposit-code {
        width: 410px;
        padding: 40px
    }
}

@media (max-width:359px) {
    .user-page-title {
        width: 232px
    }
    .form-group input[type=email],
    .form-group input[type=password],
    .form-group input[type=text] {
        width: 160px
    }
    .form-group .form-select {
        width: 45px;
        margin-right: 5px
    }
    .form-group .form-select input[type=number] {
        padding-left: 5px
    }
    .form-group .form-select.year {
        width: 60px;
        margin-right: 0
    }
    .features {
        width: 310px
    }
    .features .vip-feature-item {
        width: 145px
    }
    .deposit-card .deposit-item input,
    .deposit-code .deposit-item input {
        width: 170px
    }
}

@media (min-width:360px) and (max-width:374px) {
    .user-page-title {
        width: 262px
    }
    .form-group input[type=email],
    .form-group input[type=password],
    .form-group input[type=text] {
        width: 200px
    }
    .form-group .form-select {
        width: 50px
    }
    .form-group .form-select.year {
        width: 80px;
        margin-right: 0
    }
    .features {
        width: 350px
    }
    .features .vip-feature-item {
        width: 165px
    }
    .deposit-card .deposit-item input,
    .deposit-code .deposit-item input {
        width: 200px
    }
}

@media (min-width:375px) and (max-width:411px) {
    .user-page-title {
        width: 277px
    }
    .form-group input[type=email],
    .form-group input[type=password],
    .form-group input[type=text] {
        width: 215px
    }
    .form-group .form-select {
        width: 57px
    }
    .form-group .form-select.year {
        width: 80px;
        margin-right: 0
    }
    .features {
        width: 365px
    }
    .features .vip-feature-item {
        width: 172.5px
    }
    .deposit-card .deposit-item input,
    .deposit-code .deposit-item input {
        width: 225px
    }
}

@media (min-width:412px) and (max-width:479px) {
    .user-page-title {
        width: 322px
    }
    .form-group input[type=email],
    .form-group input[type=password],
    .form-group input[type=text] {
        width: 250px
    }
    .features {
        width: 402px
    }
    .features .vip-feature-item {
        width: 191px
    }
    .deposit-card .deposit-item input,
    .deposit-code .deposit-item input {
        width: 250px
    }
}

@media (min-width:480px) and (max-width:639px) {
    .user-page-title {
        width: 392px
    }
    .features {
        width: 470px
    }
    .features .vip-feature-item {
        width: 225px
    }
    .features .item-content .item-value {
        font-size: 16px
    }
    .features .item-content .item-price {
        height: 100px;
        line-height: 100px;
        font-size: 25px
    }
    .deposit-card .deposit-item input,
    .deposit-code .deposit-item input {
        width: 300px
    }
}

@media (min-width:640px) and (max-width:767px) {
    .user-page-title {
        width: 462px
    }
    .features {
        width: 630px
    }
    .features .vip-feature-item {
        width: 147.5px
    }
    .deposit-card,
    .deposit-code {
        width: 305px
    }
    .deposit-card .deposit-item input,
    .deposit-code .deposit-item input {
        width: 175px
    }
}

@media (min-width:768px) and (max-width:799px) {
    .user-page-title {
        width: 670px
    }
    .features {
        width: 758px
    }
    .features .vip-feature-item {
        width: 179.5px
    }
    .deposit-card,
    .deposit-code {
        width: 369px;
        padding: 20px
    }
}

@media (min-width:800px) and (max-width:1023px) {
    .user-page-title {
        width: 702px
    }
    .features {
        width: 790px
    }
    .features .vip-feature-item {
        width: 187.5px
    }
    .deposit-card,
    .deposit-code {
        width: 385px;
        padding: 30px
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    .user-page-title {
        width: 912px
    }
    .features .vip-feature-item {
        width: 175px
    }
    .vip-introduction {
        width: 730px
    }
    .vip-introduction img {
        right: -260px;
        width: 250px
    }
    .deposit-card,
    .deposit-code {
        width: 360px;
        padding: 20px
    }
}

@media (min-width:1280px) and (max-width:1365px) {
    .user-page-title {
        width: 1152px
    }
}

@media (min-width:1366px) and (max-width:1439px) {
    .user-page-title {
        width: 1232px
    }
}

@media (min-width:1440px) and (max-width:1599px) {
    .user-page-title {
        width: 1320px
    }
}

@media (min-width:1600px) and (max-width:1725px) {
    .user-page-title {
        width: 1472px
    }
}

@media (min-width:1726px) and (max-width:1919px) {
    .user-page-title {
        width: 1598px
    }
}

@media (min-width:1920px) {
    .user-page-title {
        width: 1802px
    }
}