<div class="container">
    <section class="tray">
        <div class="tray-title">Anime Đang Theo Dõi</div>
        <div class="tray-content">
            <div class="user-film-item" id="film-id-6031">
                <a href="#">
                    <img class="user-film-thumbnail" src="../../../assets/images/user-liked-films.jpg"
                        data-src="https://i.imacdn.com/vg/2018/06/08/052337ce9bb2e2f7_129a83ef99741eba_4912215284383149118684.jpg"
                        alt="Tensei shitara Slime Datta Ken">
                </a>
                <div class="user-film-meta">
                    <a href="#">
                        <div class="user-film-title">Tensei shitara Slime Datta Ken</div>
                    </a>
                    <div class="user-film-count">
                        6,175 thích
                    </div>
                    <div class="user-film-delete" data-id="6031"><i class="icon-delete"></i> xóa</div>
                </div>
            </div>
        </div>
    </section>

    <input type="hidden" name="self-type" id="self-type" value="liked">

</div>