<div class="w3-container" style="padding-top:22px">
    <h2><b><i class="fa fa-cog"></i> Genre</b></h2>
</div>

<ng-container *ngIf="ModifyActive === false; else Modify">
    <mat-card>
        <mat-card-title>
            ADD GENRE
        </mat-card-title>
        <form [formGroup]='frmAddGenre' class="example-form" (ngSubmit)="onAddGenreSubmit()">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Genre Name" [(ngModel)]="genreName" formControlName="addGenreName">
                <mat-error *ngIf="frmAddGenre.controls.addGenreName.errors?.required && (frmAddGenre.controls.addGenreName.dirty || frmAddGenre.controls.addGenreName.touched)">
                    Genre Name is required
                </mat-error>
                <mat-error *ngIf="frmAddGenre.controls.addGenreName.errors?.minlength && (frmAddGenre.controls.addGenreName.dirty || frmAddGenre.controls.addGenreName.touched)">
                    Genre Name must be more than 4 characters
                </mat-error>
                <mat-error *ngIf="frmAddGenre.controls.addGenreName.errors?.pattern && (frmAddGenre.controls.addGenreName.dirty || frmAddGenre.controls.addGenreName.touched)">
                    Genre Name does not contain special characters
                </mat-error>
                <mat-error *ngIf="frmAddGenre.controls.addGenreName.errors?.maxlength && (frmAddGenre.controls.addGenreName.dirty || frmAddGenre.controls.addGenreName.touched)">
                    Genre Name must be less than 50 characters
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <textarea matInput autosize placeholder="Genre Desciption" [(ngModel)]="genreDesciption" formControlName="addGenreDesciption"></textarea>
                <mat-error *ngIf="frmAddGenre.controls.addGenreDesciption.errors?.required && (frmAddGenre.controls.addGenreDesciption.dirty || frmAddGenre.controls.addGenreDesciption.touched)">
                    Genre Desciption is required
                </mat-error>
                <mat-error *ngIf="frmAddGenre.controls.addGenreDesciption.errors?.pattern && (frmAddGenre.controls.addGenreDesciption.dirty || frmAddGenre.controls.addGenreDesciption.touched)">
                    Genre Name does not contain special characters
                </mat-error>
                <mat-error *ngIf="frmAddGenre.controls.addGenreDesciption.errors?.minlength && (frmAddGenre.controls.addGenreDesciption.dirty || frmAddGenre.controls.addGenreDesciption.touched)">
                    Genre Desciption must be more than 10 characters
                </mat-error>
                <mat-error *ngIf="frmAddGenre.controls.addGenreDesciption.errors?.maxlength && (frmAddGenre.controls.addGenreDesciption.dirty || frmAddGenre.controls.addGenreDesciption.touched)">
                    Genre Desciption must be less than 255 characters
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-flat-button color='primary' class="mrr" [disabled]="frmAddGenre.invalid">ADD</button>

            <button mat-flat-button color='warn' (click)="onResetAddGenreForm()" type="reset">RESET</button>
        </form>
    </mat-card>
</ng-container>
<ng-template #Modify>
    <mat-card>
        <mat-card-title>
            UPDATE GENRE
        </mat-card-title>
        <form [formGroup]='frmModifyGenre' class="example-form" (ngSubmit)="onModifyGenreSubmit()">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Genre Name" [(ngModel)]="genreNameModify" formControlName="modifyGenreName">
                <mat-error *ngIf="frmModifyGenre.controls.modifyGenreName.errors?.required && frmModifyGenre.controls.modifyGenreName.dirty">
                    Genre Name is required
                </mat-error>
                <mat-error *ngIf="frmModifyGenre.controls.modifyGenreName.errors?.minlength">
                    Genre Name must be more than 4 characters
                </mat-error>
                <mat-error *ngIf="frmModifyGenre.controls.modifyGenreName.errors?.pattern">
                    Genre Name does not contain special characters
                </mat-error>
                <mat-error *ngIf="frmModifyGenre.controls.modifyGenreName.errors?.maxlength">
                    Genre Name must be less than 50 characters
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Genre Desciption" [(ngModel)]="genreDesciptionModify" formControlName="modifyGenreDesciption"></textarea>
                <mat-error *ngIf="frmModifyGenre.controls.modifyGenreDesciption.errors?.required && frmModifyGenre.controls.modifyGenreDesciption.dirty">
                    Genre Name is required
                </mat-error>
                <mat-error *ngIf="frmModifyGenre.controls.modifyGenreDesciption.errors?.minlength">
                    Genre Name must be more than 4 characters
                </mat-error>
                <mat-error *ngIf="frmModifyGenre.controls.modifyGenreDesciption.errors?.pattern">
                    Genre Name does not contain special characters
                </mat-error>
                <mat-error *ngIf="frmModifyGenre.controls.modifyGenreDesciption.errors?.maxlength">
                    Genre Name must be less than 255 characters
                </mat-error>
            </mat-form-field>
            
            <button type="submit" mat-flat-button color='primary' class="mrr" [disabled]="frmModifyGenre.invalid">UPDATE</button>
            <button type="button" mat-flat-button color='warn' (click)="DeActiveModify()">BACK</button>
        </form>
    </mat-card>
</ng-template>
<hr>
<mat-card>
    <mat-card-title>
        GENRE INFO
    </mat-card-title>
    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field fxFlex="100%" class="expand">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search...">
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="genreId">
            <th mat-header-cell *matHeaderCellDef style="text-align:left"> No. </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i +1}} </td>
        </ng-container>

        <ng-container matColumnDef="genreName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre Name </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{element.genreName}} </td>
        </ng-container>

        <ng-container matColumnDef="genreDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element" class="resize"> {{element.genreDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Update </th>
            <td mat-cell *matCellDef="let element" style="text-align:center">
                <button type="button" mat-flat-button color='primary' (click)="getGenreInfo(element.genreName, element.genreDescription, element.genreId)">UPDATE</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 20, 25, 30]">
    </mat-paginator>
</mat-card>
<hr>