<div class="slider-wrapper">
    <div class="slider-container">
        <div class="slider-cover">
            <a class="slider-link" [routerLink]="['/phim', 1, 'MOB PSYCHO 100' | slug, 'tap-'+1]"></a>
            <div class="slider-play-button">
                <i class="icon-play"></i>
            </div>
            <div class="slider-meta">
                <span class="slider-views">3,263,819 lượt xem</span>
                <div class="slider-title">One Punch Man</div>
            </div>
            <img class="activated" src="../assets/images/1.jpg" data-src="" alt="Domestic na Kanojo">

            <img src="../assets/images/2.jpg" class="activated"><img src="../assets/images/3.jpg"><img
                src="../assets/images/4.jpg"><img src="../assets/images/5.jpg"><img src="../assets/images/1.jpg"
                class="../assets/images/2.jpg"><img src=""><img src="" class="">
        </div>
        <div class="slider-item" data-title="death-note" data-views="881,134 lượt xem">
            <a [routerLink]="['/phim', 3, 'death-note' | slug, 'tap-'+1]">
                <img class="slider-item-img" src="../assets/images/death_note.jpg" data-src="" alt="death-note">
            </a>
        </div>
        <div class="slider-item" data-title="fairy-tail" data-views="884,136 lượt xem">
            <a [routerLink]="['/phim', 2, 'fairy-tail' | slug, 'tap-'+1]">
                <img class="slider-item-img" src="../assets/images/fairy_tail.jpg" data-src="" alt="fairy-tail">
            </a>
        </div>
        <div class="slider-item" data-title="Dororo" data-views="1,209,012 lượt xem">
            <a [routerLink]="['/phim', 4, 'Dororo' | slug, 'tap-'+1]">
                <img class="slider-item-img" src="../assets/images/3.jpg" data-src="" alt="Dororo">
            </a>
        </div>
        <div class="slider-item" data-title="Tate no Yuusha no Nariagari" data-views="5,809,354 lượt xem">
            <a [routerLink]="['/phim', 8, 'Tate-no-Yuusha-no-Nariagari' | slug, 'tap-'+1]">
                <img class="slider-item-img" src="../assets/images/4.jpg" data-src="" alt="Tate no Yuusha no Nariagari">
            </a>
        </div>
        <div class="slider-item" data-title="One-punch-man" data-views="83,038 lượt xem">
            <a [routerLink]="['/phim', 7, 'One-punch-man' | slug, 'tap-'+1]">
                <img class="slider-item-img" src="../assets/images/OPM.jpg" data-src=""
                    alt="One-punch-man">
            </a>
        </div>
        <div class="slider-item" data-title="BOKU NO HERO ACADEMIA" data-views="28,055,174 lượt xem">
            <a [routerLink]="['/phim', 6, 'BOKU NO HERO ACADEMIA' | slug, 'tap-'+1]">
                <img class="slider-item-img" src="../assets/images/1.jpg" data-src="" alt="BOKU NO HERO ACADEMIA">
            </a>
        </div>
        <div class="slider-item" data-title="boruto" data-views="206,286 lượt xem">
            <a [routerLink]="['/phim', 5, 'Boruto' | slug, 'tap-'+1]"><img
                    class="slider-item-img" src="../assets/images/boruto.jpg"></a>
        </div>
        <div class="slider-item hidden" data-title="One Punch Man" data-views="3,263,819 lượt xem">
            <a href="">
                <img class="slider-item-img" src="../assets/images/3.jpg" data-src="" alt="One Punch Man">
            </a>
        </div>
    </div>
</div>