<div class="slider-wrapper">
    <div class="slider-container">
        <div class="slider-cover">
            <a class="slider-link" href="#"></a>
            <div class="slider-play-button">
                <i class="icon-play"></i>
            </div>
            <div class="slider-meta">
                <span class="slider-views">3,263,819 lượt xem</span>
                <div class="slider-title">One Punch Man</div>
            </div>
            <img class="activated" src="../assets/images/1.jpg" data-src="" alt="Domestic na Kanojo">

            <img src="../assets/images/2.jpg" class="activated"><img src="../assets/images/3.jpg"><img
                src="../assets/images/4.jpg"><img src="../assets/images/5.jpg"><img src="../assets/images/1.jpg"
                class="../assets/images/2.jpg"><img src=""><img src="" class="">
        </div>
        <div class="slider-item" data-title="Tate no Yuusha no Nariagari" data-views="881,134 lượt xem">
            <a href="">
                <img class="slider-item-img" src="../assets/images/1.jpg" data-src="" alt="Tate no Yuusha no Nariagari">
            </a>
        </div>
        <div class="slider-item" data-title="Dororo" data-views="884,136 lượt xem">
            <a href="">
                <img class="slider-item-img" src="../assets/images/2.jpg" data-src="" alt="Dororo">
            </a>
        </div>
        <div class="slider-item" data-title="Mob Psycho 100" data-views="1,209,012 lượt xem">
            <a href="">
                <img class="slider-item-img" src="../assets/images/3.jpg" data-src="" alt="Mob Psycho 100">
            </a>
        </div>
        <div class="slider-item" data-title="Boku no Hero Academia" data-views="5,809,354 lượt xem">
            <a href="">
                <img class="slider-item-img" src="../assets/images/4.jpg" data-src="" alt="Boku no Hero Academia">
            </a>
        </div>
        <div class="slider-item" data-title="Boogiepop wa Warawanai (2019)" data-views="83,038 lượt xem">
            <a href="">
                <img class="slider-item-img" src="../assets/images/5.jpg" data-src=""
                    alt="Boogiepop wa Warawanai (2019)">
            </a>
        </div>
        <div class="slider-item" data-title="Hội Pháp Sư" data-views="28,055,174 lượt xem">
            <a href="">
                <img class="slider-item-img" src="../assets/images/1.jpg" data-src="" alt="Hội Pháp Sư">
            </a>
        </div>
        <div class="slider-item" data-title="Domestic na Kanojo" data-views="206,286 lượt xem"><a href=""><img
                    class="slider-item-img" src="../assets/images/2.jpg"></a>
        </div>
        <div class="slider-item hidden" data-title="One Punch Man" data-views="3,263,819 lượt xem">
            <a href="">
                <img class="slider-item-img" src="../assets/images/3.jpg" data-src="" alt="One Punch Man">
            </a>
        </div>
    </div>
</div>