<section class="tray all">
    <div class="tray-title">
        <a href="">Tất Cả Anime <i class="icon icon-right"></i></a>
    </div>
    <div class="tray-content">
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_1.jpg" data-src="" alt="IDOLiSH7 Vibrato">
                <div class="tray-item-description">
                    <div class="tray-item-title">IDOLiSH7 Vibrato</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">2,069 lượt xem</div>
                        <div class="tray-film-likes">31 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Đời Thường</span> </div>
                <div class="tray-film-update">
                    7 / 8 tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_7.jpg" data-src=""
                    alt="Kishibe Rohan wa Ugokanai">
                <div class="tray-item-description">
                    <div class="tray-item-title">Kishibe Rohan wa Ugokanai</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">4,759 lượt xem</div>
                        <div class="tray-film-likes">22 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Hành Động</span>,&nbsp; <span>Siêu Nhiên</span> </div>
                <div class="tray-film-update">
                    1 / 2 tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_4.jpg" data-src=""
                    alt="Fate/kaleid liner Prisma☆Illya 2wei Herz!">
                <div class="tray-item-description">
                    <div class="tray-item-title">Fate/kaleid liner Prisma☆Illya 2wei Herz!</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">3,884 lượt xem</div>
                        <div class="tray-film-likes">28 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Hành Động</span>,&nbsp; <span>Hài Hước</span>,&nbsp; <span>Siêu Nhiên</span>,&nbsp;
                    <span>Đời Thường</span> </div>
                <div class="tray-film-update">
                    10 / 10 tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_5.jpg" data-src=""
                    alt="Star☆Twinkle Precure">
                <div class="tray-item-description">
                    <div class="tray-item-title">Star☆Twinkle Precure</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">5,762 lượt xem</div>
                        <div class="tray-film-likes">24 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Hành Động</span> </div>
                <div class="tray-film-update">
                    5 / ??? tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_3.jpg" data-src=""
                    alt="Princess Connect! Re:Dive">
                <div class="tray-item-description">
                    <div class="tray-item-title">Princess Connect! Re:Dive</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">5,297 lượt xem</div>
                        <div class="tray-film-likes">94 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Hành Động</span>,&nbsp; <span>Phiêu Lưu</span> </div>
                <div class="tray-film-update">
                    0 / ??? tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_1.jpg" data-src="" alt="The Leader">
                <div class="tray-item-description">
                    <div class="tray-item-title">The Leader</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">7,387 lượt xem</div>
                        <div class="tray-film-likes">25 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Lãng Mạn</span>,&nbsp; <span>Đời Thường</span>,&nbsp; <span>Kịch tính</span> </div>
                <div class="tray-film-update">
                    1 / 7 tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_4.jpg" data-src=""
                    alt="Transformers Micron Densetsu">
                <div class="tray-item-description">
                    <div class="tray-item-title">Transformers Micron Densetsu</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">17,845 lượt xem</div>
                        <div class="tray-film-likes">81 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Hành Động</span>,&nbsp; <span>Khoa Học Viễn Tưởng</span>,&nbsp; <span>Robot</span>
                </div>
                <div class="tray-film-update">
                    2 / 52 tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_2.jpg" data-src=""
                    alt="Tử Chiến Thành Đa Bang">
                <div class="tray-item-description">
                    <div class="tray-item-title">Tử Chiến Thành Đa Bang</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">14,498 lượt xem</div>
                        <div class="tray-film-likes">96 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Hành Động</span>,&nbsp; <span>Võ Thuật</span> </div>
                <div class="tray-film-update">
                    3 / 3 tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_1.jpg" data-src="" alt="Lý Thường Kiệt">
                <div class="tray-item-description">
                    <div class="tray-item-title">Lý Thường Kiệt</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">46,193 lượt xem</div>
                        <div class="tray-film-likes">233 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Hành Động</span>,&nbsp; <span>Võ Thuật</span> </div>
                <div class="tray-film-update">
                    3 / 3 tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_3.jpg" data-src="" alt="Isekai Quartet">
                <div class="tray-item-description">
                    <div class="tray-item-title">Isekai Quartet</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">11,353 lượt xem</div>
                        <div class="tray-film-likes">285 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Hài Hước</span> </div>
                <div class="tray-film-update">
                    0 / ??? tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
                <div class="tray-item-upcoming">SẮP CHIẾU</div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_2.jpg" data-src=""
                    alt="Bokutachi wa Benkyou ga Dekinai">
                <div class="tray-item-description">
                    <div class="tray-item-title">Bokutachi wa Benkyou ga Dekinai</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">3,808 lượt xem</div>
                        <div class="tray-film-likes">156 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Lãng Mạn</span>,&nbsp; <span>Hài Hước</span>,&nbsp; <span>Trường Học</span> </div>
                <div class="tray-film-update">
                    0 / ??? tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
                <div class="tray-item-upcoming">SẮP CHIẾU</div>
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/rank_5.jpg" data-src=""
                    alt="Hitoribocchi no ○○ Seikatsu">
                <div class="tray-item-description">
                    <div class="tray-item-title">Hitoribocchi no ○○ Seikatsu</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">2,374 lượt xem</div>
                        <div class="tray-film-likes">53 thích</div>
                    </div>
                </div>
                <div class="tray-film-genres">
                    <span>Hài Hước</span>,&nbsp; <span>Trường Học</span>,&nbsp; <span>Đời Thường</span> </div>
                <div class="tray-film-update">
                    0 / ??? tập
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
                <div class="tray-item-upcoming">SẮP CHIẾU</div>
            </a>
        </div>
    </div>
    <div class="loading hidden"></div>
    <div class="tray-more">xem thêm</div>
</section>