<section class="tray collection">
    <div class="tray-title"><a href="">Bộ Sưu Tập <i class="icon icon-right"></i></a></div>
    <div class="tray-content collection">
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/collection_1.jpg" alt="Anime mùa đông 2019">
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/collection_2.jpg" alt="Anime mùa thu 2018">
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/collection_2.jpg" alt="Anime mùa hè 2018">
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/collection_2.jpg" alt="Anime kinh dị đáng sợ nhất">
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/collection_1.jpg" alt="Anime sinh tồn kịch tính nhất">
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/collection_2.jpg" alt="Anime phiêu lưu hay nhất">
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/collection_2.jpg" alt="Anime hài hước nhất">
            </a>
        </div>
        <div class="tray-item">
            <a href="">
                <img class="tray-item-thumbnail" src="../assets/images/collection_1.jpg" alt="Anime movie">
            </a>
        </div>
    </div>
</section>