<div class="container">
    <div class="genre">
        <!-- <a class="genre-item " [routerLink]="['/anime']" routerLinkActive="activated" [routerLinkActiveOptions]="{ exact: true }">Tất cả Anime</a> -->
        <a class="genre-item " *ngFor="let item of allGenre" [routerLink]="['/theloai', item.genreName | slug]" routerLinkActive="activated" [routerLinkActiveOptions]="{ exact: true }" (click)="GetFilmWithGenre()">{{item.genreName}}</a>
    </div>

    <section class="tray">
        <div class="tray-content">
            <div class="tray-item" *ngFor="let film of filmGenre">
                <a [routerLink]="['/phim', film.filmId, film.filmName | slug, 'tap-'+1]">
                    <img class="tray-item-thumbnail" src={{film.image}} data-src="" alt={{film.name}}>
                    <div class="tray-item-description">
                        <div class="tray-item-title">{{film.name}}</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">{{film.viewed | numberWithCommas}} lượt xem</div>
                            <div class="tray-film-likes">{{film.liked | numberWithCommas}} thích</div>
                        </div>
                    </div>
                    <div class="tray-film-update">
                        <span *ngFor="let agenre of film.genre; let last = last;">{{agenre.genreName}} 
                            <p *ngIf="!last" style="display: inline;">,&nbsp;</p>
                        </span>
                    </div>
                    <!-- <div class="tray-film-update">
                        60 phút
                    </div> -->
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="loading hidden"></div>
        <ng-container *ngIf="filmLength > 40">
            <div class="tray-more" (click)="watchMore()">xem thêm</div>
        </ng-container>
    </section>

    <!-- <input type="hidden" name="genre-slug" id="genre-slug" value=""> -->

</div>