<div class="container">
    <div class="genre">
        <a class="genre-item " [routerLink]="['/anime']" routerLinkActive="activated" [routerLinkActiveOptions]="{ exact: true }">Tất cả Anime</a>
        <a class="genre-item " [routerLink]="['/anime/hanh-dong']" routerLinkActive="activated">Hành Động</a>
        <a class="genre-item " [routerLink]="['/anime/khoa-hoc-vien-tuong']" routerLinkActive="activated">Khoa Học Viễn Tưởng</a>
        <a class="genre-item " [routerLink]="['/anime/lang-man']" routerLinkActive="activated">Lãng Mạn</a>
        <a class="genre-item " [routerLink]="['/anime/kinh-di']" routerLinkActive="activated">Kinh Dị</a>
        <a class="genre-item " [routerLink]="['/anime/vo-thuat']" routerLinkActive="activated">Võ Thuật</a>
        <a class="genre-item " [routerLink]="['/anime/hai-huoc']" routerLinkActive="activated">Hài Hước</a>
        <a class="genre-item " [routerLink]="['/anime/truong-hoc']" routerLinkActive="activated">Trường Học</a>
        <a class="genre-item " [routerLink]="['/anime/trinh-tham']" routerLinkActive="activated">Trinh Thám</a>
        <a class="genre-item " [routerLink]="['/anime/phieu-luu']" routerLinkActive="activated">Phiêu Lưu</a>
        <a class="genre-item " [routerLink]="['/anime/sieu-nhien']" routerLinkActive="activated">Siêu Nhiên</a>
        <a class="genre-item " [routerLink]="['/anime/doi-thuong']" routerLinkActive="activated">Đời Thường</a>
        <a class="genre-item " [routerLink]="['/anime/gia-tuong']" routerLinkActive="activated">Giả Tưởng</a>
        <a class="genre-item " [routerLink]="['/anime/robot']" routerLinkActive="activated">Robot</a>
        <a class="genre-item " [routerLink]="['/anime/game']" routerLinkActive="activated">Game</a>
        <a class="genre-item " [routerLink]="['/anime/the-thao']" routerLinkActive="activated">Thể thao</a>
        <a class="genre-item " [routerLink]="['/anime/kich-tinh']" routerLinkActive="activated">Kịch tính</a>
    </div>

    <section class="tray">
        <div class="tray-content">
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
            <div class="tray-item">
                <a href="/oushitsu-kyoushi-heine-movie">
                    <img class="tray-item-thumbnail" src="../../../assets/images/newepisode_3.jpg" data-src="https://i.imacdn.com/vg/2019/04/12/db4ada701d6522f0_ecc1e69935fe106b_54619155507083479674.jpg" alt="Oushitsu Kyoushi Heine Movie">
                    <div class="tray-item-description">
                        <div class="tray-item-title">Oushitsu Kyoushi Heine Movie</div>
                        <div class="tray-item-meta-info">
                            <div class="tray-film-views">1,400 lượt xem</div>
                            <div class="tray-film-likes">20 thích</div>
                        </div>
                    </div>
                    <div class="tray-film-genres">
                        <span>Hài Hước</span>,&nbsp; <span>Đời Thường</span> </div>
                    <div class="tray-film-update">
                        60 phút
                    </div>
                    <div class="tray-item-play-button">
                        <i class="icon-play"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="loading hidden"></div>
        <div class="tray-more">xem thêm</div>
    </section>

    <input type="hidden" name="genre-slug" id="genre-slug" value="">

</div>