<section class="tray ranking">
    <div class="tray-title">
        <a [routerLink]="['/bang-xep-hang']">Bảng Xếp Hạng <i class="icon icon-right"></i></a>
    </div>
    <div class="tray-content">
        <div class="ranking-item" *ngFor="let film of rankingFilmList; let i = index">
            <a [routerLink]="['/phim', film.filmId, film.filmName | slug, 'tap-'+1]">
                <div class="ranking-item-thumbnail">
                    <img src={{film.image}} data-src="" alt={{film.filmName}}>
                </div>
                <div class="ranking-item-top">{{i + 1}}</div>
            </a>
            <div class="ranking-item-meta">
                <a [routerLink]="['/phim', film.filmId, film.filmName | slug, 'tap-'+1]">
                    <div class="ranking-item-title">{{film.filmName}}</div>
                </a>
                <span class="ranking-item-views">{{film.viewed | numberWithCommas}} lượt xem</span>
                <!-- <div class="ranking-item-update">
                    817 / 6969 tập
                </div> -->
            </div>
        </div>
    </div>
</section>