<div class="container">
    <div class="user-page">
        <div class="user-page-header">
            <div class="user-page-logo"></div>
            <div class="user-page-title">
                <h3>SỬA THÔNG TIN</h3>
                Bạn vui lòng nhập đầy đủ thông tin bên dưới.
            </div>
        </div>
        <div class="user-page-body">
            <form [formGroup]='frmchangeInfo' class="form-horizontal" (ngSubmit)="changeInfo()">
                <div class="form-group">
                    <label for="full_name">Tên hiển thị</label>
                    <input type="text" required name="full_name" formControlName="fullname" [(ngModel)]="fullname">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" required name="email" formControlName="email" [(ngModel)]="email">
                </div>

                <div class="form-group">
                    <label>Giới tính </label>
                    <mat-radio-group formControlName="gender" [(ngModel)]="gender">
                      <mat-radio-button value="true" checked>Nam</mat-radio-button>
                      <mat-radio-button value="false">Nữ</mat-radio-button>
                    </mat-radio-group>
                  </div>

                <div class="form-group">
                    <label>Ngày sinh</label>
                    <input matInput [matDatepicker]="picker" readonly formControlName="birthday" [(ngModel)]="birthday">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>

                <div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!frmchangeInfo.valid">Sửa thông tin</button>
                </div>
            </form>
        </div>
    </div>
</div>