<div class="container">
    <div class="user-page">
        <div class="user-page-header">
            <div class="user-page-logo"></div>
            <div class="user-page-title">
                <h3>QUÊN MẬT KHẨU</h3>
                Chúng tôi sẽ gửi thông tin tới địa chỉ email liên kết với tài khoản của bạn.
            </div>
        </div>
        <div class="user-page-body">
            <form method="POST" action="https://vuighe.net/quen-mat-khau">
                <input type="hidden" name="_token" value="3qyDZTZTHcsPqG2Eu9w04bDPnnSAIwLyNj1DHpl6">
                <div class="form-group">
                    <label for="email">Địa chỉ email:</label>
                    <input type="email" required name="email" id="email" value="">
                </div>
                <div class="form-group">
                    <button type="submit">Cấp lại mật khẩu</button>
                </div>
            </form>
        </div>
    </div>
</div>